.rlc-dev-helper {
  --_offset: 20px;
  --_btn-size: 80px;
  position: fixed;
  left: var(--_offset);
  bottom: var(--_offset);
  /* min: 99999 need to show upper than product popup */
  z-index: 99999;
}

button.rlc-btn--dev {
  width: var(--_btn-size);
  height: var(--_btn-size);
  margin-top: 0;
  padding: 6px;
  background-color: white !important;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  transition: all .3s;
}

button.rlc-btn--dev .rlc-image {
  opacity: 1 !important;
  height: 100%;
  object-fit: contain;
}

.rlc-dev-helper[data-status='on'] button.rlc-btn--dev,
button.rlc-btn--dev:hover {
  box-shadow: 0 0 0 5px #041e3a;
  background-color: white !important;
}

ul.rlc-dev-menu {
  width: 200px;
  list-style: none !important;
  margin: 0 !important;
  padding: 6px !important;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(var(--_btn-size) * -1 - 16px));
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.rlc-dev-helper[data-status='off'] .rlc-dev-menu {
  display: none;
}

.rlc-dev-item+.rlc-dev-item {
  margin-top: 6px;
}

.rlc-dev-item {
  position: relative;
  padding: 4px 12px;
  color: white;
  font-size: 16px;
  line-height: 2;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

li.rlc-dev-item {
  list-style-type: none !important;
}

.rlc-dev-item::before {
  content: attr(data-status);
}

.rlc-dev-item::marker {
  content: "";
  display: none !important;
}

.rlc-dev-item[data-state='on'],
.rlc-dev-item:hover {
  background-color: #041e3a;
}

.rlc-ab-container {
  width: clamp(240px, var(--_link-width, 100%), var(--_max-width, 500px));
  height: max-content;
  padding: 10px;

  position: absolute;
  bottom: 100%;
  left: 50%;

  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  border: 1px solid #041e3a;
  backdrop-filter: blur(3px);

  font-family: "Founders Grotesk text Regular", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: white;
  line-height: normal;
  text-align: left;
  text-transform: none;
  overflow-wrap: break-word;

  pointer-events: all;
  transition: background-color 0.3s;
  transform: translate(var(--_translateX, 0px), var(--_translateY, 0px))
}

.rlc-ab-container:hover {
  background-color: black;
  color: white;
  z-index: 99;
}

*:has(>.rlc-ab-container:hover) {
  z-index: 999;
}

.rlc-pillbutton:has(.rlc-ab-container) {
  white-space: normal;
}

.rlc-pillbutton .rlc-ab-container:hover .rlc-textgroup .rlc-ab-font {
  color: white !important;
}

.rlc-pillbutton .rlc-ab-container{
  white-space: normal;
}

.rlc-slide .rlc-ab-container {
  max-width: var(--_max-width, calc(100% - 20px));
}

.rlc-slide :where(.rlc-pillbutton, .rlc-linecta, .rlc-target, a) .rlc-ab-container {
  width: clamp(200px, var(--_link-width, 100%), var(--_max-width, 500px));
  max-width: clamp(200px, var(--_link-width, 100%), var(--_max-width, 500px));
}

.rlc-ab-container * {
  text-transform: unset;
}

:where(a, .rlc-pillbutton, .rlc-linecta) .rlc-ab-container .rlc-ab-container,
.rlc-linecta .rlc-ab-container {
  top: unset;
  left: 0;
  bottom: 100%;
  --_translateY: -16px;
  white-space: normal;
}

.rlc-linecta:has(.rlc-arrow-link):has(.rlc-ab-container),
.rlc-linecta.rlc-cta-arrow:has(.rlc-ab-container){
  overflow: visible;
}

.rlc-hotspot .rlc-ab-container {
  top: 20px;
  left: 20px;
  transform: unset;
}

:where([id$=hero], [class$=hero]) .rlc-hotspot .rlc-ab-container {
  top: 100px;
}

.notinstock .rlc-hotspot {
  display: block !important;
  pointer-events: none !important;
}

.rlc-bg_link .rlc-ab-container {
  top: 20px;
  left: 20px;
  transform: unset;
}

.rlc-cards .rlc-ab-container {
  left: unset;
  right: 20px;
}

header[class^='rlc-catslider'] .rlc-ab-container {
  top: 0;
  left: 0;
  bottom: unset;
}

.rlc-target .rlc-ab-container {
  --_max-width: 200px;
  --_link-width: 200px;
}

:where(.rlc-copygroup, .rlc-copygroup-in, .rlc-textgroup, .rlc-textgroup-in, .rlc-intro)>.rlc-ab-container {
  --_translateX: -50%;
  --_translateY: -12px;
}

.rlc-cards :where(.rlc-copygroup, .rlc-copygroup-in, .rlc-textgroup, .rlc-textgroup-in, .rlc-intro)>.rlc-ab-container {
  transform: none;
}

:where(.rlc-copygroup, .rlc-copygroup-in, .rlc-textgroup, .rlc-textgroup-in, .rlc-intro):where([class*=text-left])>.rlc-ab-container {
  --_translateY: -12px;
  left: 0;
}

:where(.rlc-copygroup, .rlc-copygroup-in, .rlc-textgroup, .rlc-textgroup-in, .rlc-intro, .rlc-catslider-hd):where([class*='bottom-center'], [class*='top-center'], [class*='pos-center'])>.rlc-ab-container {
  --_translateX: -50%;
  left: 50%;
}

:where(.rlc-copygroup, .rlc-copygroup-in, .rlc-textgroup, .rlc-textgroup-in, .rlc-intro, .rlc-catslider-hd):where([class*='bottom-left'], [class*='top-left'])>.rlc-ab-container {
  --_translateX: 0;
  left: 0;
}

:where(.rlc-copygroup, .rlc-copygroup-in, .rlc-textgroup, .rlc-textgroup-in, .rlc-intro, .rlc-catslider-hd):where([class*='bottom-right'], [class*='top-right'])>.rlc-ab-container {
  --_translateX: 0;
  right: 0;
}

.rlc-header .rlc-ab-container {
  --_translateX: -50%;
  --_translateY: -12px;
}

.rlc-ab {
  color: black;
}

.rlc-ab-font {
  color: rgba(255, 255, 255, .5);
  font-size: 12px;
}

.rlc-show-overflow,
.rlc-show-overflow .rlc-hotspot,
.rlc-show-overflow .rlc-linecta,
.rlc-show-overflow .rlc-target.rlc-instock {
  overflow: visible !important;
}

.rlc-ab-divider {
  display: block;
  border-top: 1px solid white;
  margin-block: 12px;
}

.rlc-dev-err {
  color: red;
  font-weight: bold;
}

.rlc-ab-container:has(.rlc-dev-err) {
  outline: 2px solid red;
  outline-offset: 2px;
}

.rlc-dev-color-container {
  --_gap: 6px;
  width: max-content;
  position: absolute;
  left: 50%;
  /* bottom: 0;
  transform: translate(-50%, calc(100% + 6px)); */
  z-index: 999999;

  margin-inline: auto;
  padding: 2px 8px;

  background-color: black;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  
  backdrop-filter: blur(3px);
  border-radius: 5px;
  cursor: copy;
}

.rlc-dev-color-container[data-state='success']{
  background-color: rgb(5, 113, 5);
}

li.variations-attribute:nth-child(odd) .rlc-dev-color-container{
  top: 0;
  transform: translate(-50%, calc(-100% - var(--_gap, 0px)));
}

li.variations-attribute:nth-child(even) .rlc-dev-color-container{
  bottom: 0;
  transform: translate(-50%, calc(100% + var(--_gap, 0px)));
}

.s7viewer-swatches:has(.rlc-dev-color-container){
  overflow: visible !important;
}

.rlc-videocontainer:has(.rlc-dev-video-container){
  z-index: 999;
}

.rlc-dev-video-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px 14px;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  border: 1px solid #041e3a;
  backdrop-filter: blur(3px);

  font-family: "Founders Grotesk text Regular", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: white;
  line-height: normal;
  text-align: left;
  text-transform: none;
  overflow-wrap: break-word;

  transition: background-color 0.3s;
}

.rlc-dev-video-container:hover {
  background-color: black;
  color: white;
  z-index: 99;
}

.rlc-dev-video-item{
  display: grid;
  grid-template-columns: 80px 1fr;
}

.rlc-dev-video-item a{
  text-decoration: underline;
}

.rlc-dev-video-container .rlc-dev-icon{
    --_size: 30px;
    width: var(--_size);
    height: var(--_size);

    box-sizing: border-box !important;

    margin-left: auto;
    padding: 5px;

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(15px, -15px);

    fill: white;
    background-color: black;
    border-radius: 50%;
    border: 1px solid white;
}

.rlc-dev-icon[data-state='success'] {
  background-color: rgb(5, 113, 5);
}

.rlc-dev-icon[data-action='copy']{
  cursor: copy;
}

.rlc-dev-icon .rlc-icon--success{
  display: none;
}

.rlc-dev-icon[data-state='success'] .rlc-icon--default{
  display: none;
}

.rlc-dev-icon[data-state='success'] .rlc-icon--success{
  display: block;
}

