:root{
  --_rlc-dev-black-bg: rgba(0, 0, 0, 0.5);
  --_rlc-dev-navy: #041e3a;
  --_rlc-dev-red: red;
  --_rlc-dev-green: #057105;
}

.rlc-dev-helper {
  --_offset: 20px;
  --_btn-size: 80px;
  position: fixed;
  left: var(--_offset);
  bottom: var(--_offset);
  /* min: 99999 need to show upper than product popup */
  z-index: 99999;
}

button.rlc-btn--dev {
  width: var(--_btn-size);
  height: var(--_btn-size);
  margin-top: 0;
  padding: 6px;
  background-color: white !important;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

button.rlc-btn--dev .rlc-image {
  opacity: 1 !important;
  height: 100%;
  object-fit: contain;
}

.rlc-dev-helper[data-status="on"] button.rlc-btn--dev,
button.rlc-btn--dev:hover {
  box-shadow: 0 0 0 5px var(--_rlc-dev-navy);
  background-color: white !important;
}

ul.rlc-dev-menu {
  width: 200px;
  list-style: none !important;
  margin: 0 !important;
  padding: 6px !important;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(var(--_btn-size) * -1 - 16px));
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--_rlc-dev-black-bg);
}

.rlc-dev-helper[data-status="off"] .rlc-dev-menu {
  display: none;
}

.rlc-dev-item + .rlc-dev-item {
  margin-top: 6px;
}

.rlc-dev-item {
  position: relative;
  padding: 4px 12px;
  color: white;
  font-size: 16px;
  line-height: 2;
  background-color: var(--_rlc-dev-black-bg);
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

li.rlc-dev-item {
  list-style-type: none !important;
}

.rlc-dev-item.rlc-disabled,
.rlc-dev-item.rlc-disabled:hover{
  cursor: auto;
  background-color: #4f4f4f;
  color: #a7a7a7;
}

.rlc-dev-item::before {
  content: attr(data-status);
}

.rlc-dev-item::marker {
  content: "";
  display: none !important;
}

.rlc-dev-item[data-state="on"],
.rlc-dev-item:hover {
  background-color: var(--_rlc-dev-navy);
}

.rlc-info-container {
  width: clamp(240px, var(--_link-width, 100%), var(--_max-width, 500px));
  height: max-content;
  max-height: 70vh;
  overflow-y: scroll;
  padding: 10px;

  position: absolute;
  bottom: 100%;
  left: 50%;

  background-color: var(--_rlc-dev-black-bg);
  border-radius: 10px;
  border: 1px solid var(--_rlc-dev-navy);
  backdrop-filter: blur(3px);

  font-family: "Founders Grotesk text Regular", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: white;
  line-height: normal;
  text-align: left;
  text-transform: none;
  overflow-wrap: break-word;
  text-wrap-mode: wrap;

  pointer-events: all;
  transition: background-color 0.3s, opacity 0.3s;
  transform: translate(var(--_translateX, 0px), var(--_translateY, 0px));
}

/* Style the entire scrollbar */
.rlc-info-container::-webkit-scrollbar {
  width: 8px;
}

/* Style the scrollbar track */
.rlc-info-container::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 5px;
    padding: 2px;
}

/* Style the scrollbar thumb */
.rlc-info-container::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.3);
    border-radius: 5px;
}

/* Style the scrollbar thumb on hover */
.rlc-info-container:hover::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.7);
}

.rlc-info-container:hover {
  background-color: black;
  color: white;
  z-index: 99;
}

body:has(.rlc-info-container:hover) .rlc-info-container:not(:hover){
  opacity: 0.2;
}

*:has(> .rlc-info-container:hover) {
  z-index: 999;
}

.rlc-info-container[data-links='many']{
  --_translateY: -50%;
  top: 20%;
  left: 0;
  /* left: 50%; */
}

.rlc-navcta:has(.rlc-info-container),
.rlc-pillbutton:has(.rlc-info-container) {
  white-space: normal;
}

.rlc-pillbutton .rlc-info-container:hover .rlc-textgroup .rlc-ab-font {
  color: white !important;
}

.rlc-navcta .rlc-info-container,
.rlc-pillbutton .rlc-info-container {
  white-space: normal;
}

.rlc-ul .rlc-info-container{
  top: 0;
  --_translateY: 0;
  z-index: 999;
}

.rlc-slide .rlc-info-container {
  max-width: var(--_max-width, calc(100% - 20px));
}

.rlc-slide
  :where(.rlc-pillbutton, .rlc-linecta, .rlc-target, a)
  .rlc-info-container {
  width: clamp(200px, var(--_link-width, 100%), var(--_max-width, 500px));
  max-width: clamp(200px, var(--_link-width, 100%), var(--_max-width, 500px));
}

.rlc-info-container * {
  text-transform: unset;
}

:where(a, .rlc-pillbutton, .rlc-linecta) .rlc-info-container .rlc-info-container,
.rlc-linecta .rlc-info-container {
  top: unset;
  left: 0;
  bottom: 100%;
  --_translateY: -16px;
  white-space: normal;
}

.rlc-cta.rlc-arrow:has(.rlc-info-container),
.rlc-linecta:has(.rlc-arrow-link):has(.rlc-info-container),
.rlc-linecta:has(svg):has(.rlc-info-container),
.rlc-linecta.rlc-cta-arrow:has(.rlc-info-container) {
  overflow: visible;
}

.rlc-hotspot .rlc-info-container,
.rlc-bg > a .rlc-info-container {
  top: 20px;
  left: 20px;
  transform: unset;
}

.breadcrumb-element .rlc-info-container{
  top: 0;
  bottom: unset;
}

.notinstock .rlc-hotspot {
  display: block !important;
  pointer-events: none !important;
}

.rlc-bg_link .rlc-info-container {
  top: 20px;
  left: 20px;
  transform: unset;
}

:where([id*="hero"], [class*="hero"]) .rlc-hotspot .rlc-info-container {
  top: 100px;
}

article:has(.rlc-navcta .rlc-info-container){
  z-index: 999;
}

.rlc-navcta .rlc-info-container{
  --_translateX: -50%;
  top: 0;
}

.rlc-cards .rlc-info-container {
  left: unset;
  right: 20px;
}

header[class^="rlc-catslider"] .rlc-info-container {
  top: 0;
  left: 0;
  bottom: unset;
}

.rlc-target .rlc-info-container {
  --_max-width: 200px;
  --_link-width: 200px;
}

:where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro
  )
  > .rlc-info-container {
  --_translateX: -50%;
  --_translateY: -12px;
}

.rlc-cards
  :where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro
  )
  > .rlc-info-container {
  transform: none;
}

:where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro
  ):where([class*="text-left"])
  > .rlc-info-container {
  --_translateY: -12px;
  --_translateX: 0;
  left: 0;
}

:where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro,
    .rlc-catslider-hd
  ):where(
    [class*="bottom-center"],
    [class*="top-center"],
    [class*="pos-center"]
  )
  > .rlc-info-container {
  --_translateX: -50%;
  left: 50%;
}
:where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro,
    .rlc-catslider-hd
  ):where(
    [class*="bottom-center"],
    [class*="top-center"],
    [class*="pos-center"]
  ) .rlc-copy-inner
  > .rlc-info-container {
  --_translateX: -50%;
  left: 50%;
}

:where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro,
    .rlc-catslider-hd
  ):where([class*="bottom-left"], [class*="top-left"])
  > .rlc-info-container {
  --_translateX: 0;
  left: 0;
}

:where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro,
    .rlc-catslider-hd
  ):where([class*="bottom-right"], [class*="top-right"])
  > .rlc-info-container {
  --_translateX: 0;
  right: 0;
}

:where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro,
    .rlc-catslider-hd
  ).rlc-all-pos-center
  > .rlc-info-container,
:where(
    .rlc-copygroup,
    .rlc-copygroup-in,
    .rlc-textgroup,
    .rlc-textgroup-in,
    .rlc-intro,
    .rlc-catslider-hd
  ).rlc-all-pos-center  .rlc-copy-inner
  > .rlc-info-container {
    top: 50% !important;
    left: 50% !important;
    --_translateX: -50% !important;
    --_translateY: -50% !important;
  }

.rlc-header .rlc-info-container {
  --_translateX: -50%;
  --_translateY: -12px;
}

.rlc-ab {
  color: black;
  font-size: 14px !important;
}

.rlc-ab-font {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

.rlc-show-overflow,
.rlc-show-overflow .rlc-hotspot,
.rlc-show-overflow .rlc-linecta,
.rlc-show-overflow .rlc-target.rlc-instock {
  overflow: visible !important;
}

.rlc-ab-divider {
  display: block;
  border-top: 1px solid white;
  margin-block: 12px;
}

.rlc-dev-err {
  color: var(--_rlc-dev-red) !important;
  font-weight: bold;
}

.rlc-info-container:has(.rlc-dev-err) {
  outline: 2px solid var(--_rlc-dev-red);
  outline-offset: 2px;
}

.rlc-dev-color-container {
  --_gap: 6px;
  width: max-content;
  position: absolute;
  left: 50%;
  z-index: 999999;

  margin-inline: auto;
  padding: 2px 8px;

  background-color: var(--_rlc-dev-black-bg);
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 20px;

  backdrop-filter: blur(3px);
  border-radius: 5px;
  cursor: copy;

  transition: opacity .3s;
}

.rlc-dev-color-container:hover{
  background-color: black;
}

body:has(.rlc-dev-color-container:hover) .rlc-dev-color-container:not(:hover){
  opacity: 0.2;
}

.rlc-dev-color-container[data-state="success"] {
  background-color: var(--_rlc-dev-green);
}

li.variations-attribute:nth-child(odd) .rlc-dev-color-container {
  top: 0;
  transform: translate(-50%, calc(-100% - var(--_gap, 0px)));
}

li.variations-attribute:nth-child(even) .rlc-dev-color-container {
  bottom: 0;
  transform: translate(-50%, calc(100% + var(--_gap, 0px)));
}

.s7viewer-swatches:has(.rlc-dev-color-container) {
  overflow: visible !important;
}

.rlc-videocontainer:has(.rlc-dev-video-container) {
  z-index: 999;
}

.rlc-imagery:has(.rlc-dev-video-container) .rlc-hotspot{
  pointer-events: none;
}

.rlc-dev-video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 10px 14px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid var(--_rlc-dev-navy);
  backdrop-filter: blur(3px);

  font-family: "Founders Grotesk text Regular", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  color: white;
  line-height: normal;
  text-align: left;
  text-transform: none;
  overflow-wrap: break-word;

  transition: background-color 0.3s;
}

.rlc-dev-video-container:hover {
  background-color: black;
  color: white;
  z-index: 99;
}

.rlc-dev-video-item {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.rlc-dev-video-item a {
  text-decoration: underline;
}

.rlc-dev-video-container .rlc-dev-icon {
  --_size: 30px;
  width: var(--_size);
  height: var(--_size);

  box-sizing: border-box !important;

  margin-left: auto;
  padding: 5px;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15px, -15px);

  fill: white;
  background-color: black;
  border-radius: 50%;
  border: 1px solid white;
}

.rlc-dev-icon[data-state="success"] {
  background-color: var(--_rlc-dev-green);
}

.rlc-dev-icon[data-action="copy"] {
  cursor: copy;
}

.rlc-dev-icon .rlc-icon--success {
  display: none;
}

.rlc-dev-icon[data-state="success"] .rlc-icon--default {
  display: none;
}

.rlc-dev-icon[data-state="success"] .rlc-icon--success {
  display: block;
}

.rlc-slide:has(.rlc-dev-missing-img) {
  --_margin: 40px;
  padding-top: calc(var(--_margin) / 2);
}

.rlc-image.rlc-dev-missing-img,
.rlc-dev-missing-img {
  box-sizing: border-box !important;
  width: calc(100% - var(--_margin)) !important;
  height: calc(var(--_height) - var(--_margin)) !important;
  margin-inline: auto;
  outline: 2px solid var(--_rlc-dev-red);
  outline-offset: 10px;

  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22%23ffffff%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%3E%3C/g%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3C/g%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20d%3D%22M7.828%205l-1-1H22v15.172l-1-1v-.69l-3.116-3.117-.395.296-.714-.714.854-.64a.503.503%200%200%201%20.657.046L21%2016.067V5zM3%2020v-.519l2.947-2.947a1.506%201.506%200%200%200%20.677.163%201.403%201.403%200%200%200%20.997-.415l2.916-2.916-.706-.707-2.916%202.916a.474.474%200%200%201-.678-.048.503.503%200%200%200-.704.007L3%2018.067V5.828l-1-1V21h16.172l-1-1zM17%208.5A1.5%201.5%200%201%201%2015.5%207%201.5%201.5%200%200%201%2017%208.5zm-1%200a.5.5%200%201%200-.5.5.5.5%200%200%200%20.5-.5zm5.646%2013.854l.707-.707-20-20-.707.707z%22%3E%3C/path%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-size: clamp(100px, 40%, 250px);
  background-repeat: no-repeat;
  background-position: center;

  object-fit: cover;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.rlc-dev-missing-image-container {
  position: relative;
  width: 400px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;

  transition: background-color .3s;
}

.rlc-dev-missing-image-container:hover {
  background-color: black;
}

.rlc-dev-missing-image-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rlc-dev-missing-image-title {
  margin: 0;
  font-size: 18px;
  color: white;
}

.rlc-dev-missing-image-header .rlc-dev-btns{
  display: flex;
  align-items: center;
  gap: 10px;
}

.rlc-dev-missing-image-header .rlc-dev-btns > div{
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.rlc-dev-missing-image-header .rlc-dev-copy-all[data-state="success"] {
  background-color: var(--_rlc-dev-green);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20class%3D%22rlc-icon--success%22%20fill%3D%22white%22%20d%3D%22M530.8%20134.1C545.1%20144.5%20548.3%20164.5%20537.9%20178.8L281.9%20530.8C276.4%20538.4%20267.9%20543.1%20258.5%20543.9C249.1%20544.7%20240%20541.2%20233.4%20534.6L105.4%20406.6C92.9%20394.1%2092.9%20373.8%20105.4%20361.3C117.9%20348.8%20138.2%20348.8%20150.7%20361.3L252.2%20462.8L486.2%20141.1C496.6%20126.8%20516.6%20123.6%20530.9%20134z%22/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  color: transparent;
}

.rlc-dev-missing-images {
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
}

.rlc-dev-missing-image {
  display: grid;
  align-items: start;
  grid-template-columns: 20px 1fr;
  gap: 10px;

  color: white;
  word-break: break-all;
  cursor: pointer;
}

.rlc-dev-missing-image + .rlc-dev-missing-image {
  margin-top: 6px;
}

.rlc-dev-missing-image .rlc-dev-icon{
  fill: white;
  border-radius: 3px;
}

.rlc-dev-missing-image-container .rlc-dev-icon[data-action="close"] {
  --_size: 30px;
  width: var(--_size);
  height: var(--_size);

  box-sizing: border-box !important;

  margin-left: auto;
  padding: 5px;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(10px, -10px);

  fill: white;
  background-color: black;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
}

.rlc-dev-missing-img-slide-index:empty{
  display: none !important;
}

.rlc-dev-image-name-container{
  --_offset: 20px;
  position: absolute;
  top: var(--_offset);
  left: var(--_offset);

  display: none;

  width: 90%;
  max-width: 600px;
  padding: 6px 12px;

  background-color: var(--_rlc-dev-black-bg);
  font-family: "Founders Grotesk text Regular", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  color: white !important;
  text-align: left !important;

  text-wrap-mode: wrap;
  overflow-wrap: break-word;

  border-radius: 5px;
  transition: background-color .3s;
}

.rlc-imagery:has(.rlc-dev-missing-img) .rlc-dev-image-name-container{
  display: block !important;
}

.rlc-dev-image-name-container:hover{
  background-color: black;
}

/* fix rlc-hotspot/rlc-bg_link/rlc-background image info container can't be hovered issue */
:has(>.rlc-hotspot:hover) .rlc-imagery .rlc-dev-image-name-container,
:has(>.rlc-imagery:hover) .rlc-imagery .rlc-dev-image-name-container,
:has(.rlc-background):has(.rlc-background .rlc-dev-image-name-container):hover .rlc-background .rlc-dev-image-name-container{
  background-color: black;
}

div:has( > .rlc-dev-image-name-container:hover){
  z-index: 1;
}

/* plp mb image info container need lower */
[id*="plp-mb"] .rlc-picture .rlc-dev-image-name-container {
  top: calc(60px + var(--_offset));
}

[class^=rlc-imagery]:has(.rlc-dev-image-name-container){
  position: relative;
}

/* MARK: pinkpony lp fix */
.rlc-slide:has(.rlc-sig).rlc-active .rlc-info-container{
  display: block;
}
.rlc-slide:has(.rlc-sig):not(.rlc-active) .rlc-info-container{
  display: none !important;
}

/* MARK: copies */
body:has(.rlc-dev-item.rlc-dev-item--font[data-state='on']) .rlc-creative_v3.rlc-1440_375_max1920 .rlc-fullbleed{
  overflow: visible;
}

body:has(.rlc-dev-item.rlc-dev-item--font[data-state='on']) .notinstock .rlc-prodinfo.rlc-cs {
  display: block !important;
}

/* MARK: product target */
body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) .notfound .is-quick-shoppable.rlc-target:has(.rlc-info-container),
body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) .notinstock .is-quick-shoppable.rlc-target:has(.rlc-info-container){
  display: block !important;
}

body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) .notfound:has(.rlc-info-container),
body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) .notinstock:has(.rlc-info-container) {
  position: absolute;
  top: 0;
  left: 0;
}

body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) .instock .rlc-hotspot{
  outline: 3px solid green;
  border-radius: 10px;
}

body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) .instock .rlc-hotspot:has(.rlc-info-container:hover){
  outline: 3px solid red;
}

body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) .rlc-target:has(.rlc-info-container) {
  overflow: visible;
}

[id*='hero'] .rlc-dev-image-name-container,
[id$='-plp']:first-of-type .rlc-dev-image-name-container{
  top: calc(var(--_offset) + 80px);
}

body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) .plp-info .filters-list{
  overflow: visible;
}

body:has(.rlc-dev-helper) .plp-info .filters.filters--as-tags .filters-item{
  text-wrap-mode: wrap;
}

/* sticky nav CTA info box fix */
body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) #rlc-stickynav .rlc-wrap {
  position: fixed;
}

body:has(.rlc-dev-item.rlc-dev-item--id[data-state='on']) #rlc-stickynav .rlc-wrap .rlc-in{
  z-index: 2;
}

/* hidden copy fix */
body:has(.rlc-dev-item.rlc-dev-item--font[data-state='on']) .rlc-copygroup{
  opacity: 1 !important;
}


/* MARK:  */
[id$='plp'] .rlc-info-container[data-type='ca']{
  top: 100px;
}

.rlc-info-container[data-type='ca']{
  top: 24px;
  left: 24px;
  transform: none;
}